<nav class="navbar navbar-expand-lg fixed-top">
  <div class="nav-link">
  <img class="perfil img-circle" src="assets/images/davivienda.png" alt="">
  </div>
  <b class="caret"></b>
  <a class="navbar-brand" href="#">Davivienda{{ client.substring(0,1) | uppercase}}{{ client.substring(1) | lowercase}}</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <!--      <li class="nav-item dropdown" ngbDropdown>
              <a class="nav-link" href="javascript:void(0)" ngbDropdownToggle>
                <i class="fa fa-envelope"></i> <b class="caret"></b><span class="sr-only">(current)</span>
              </a>
              <ul class="dropdown-menu-right messages" ngbDropdownMenu>
                <li class="media col-md-12">
                  <div class="media-body col-md-12">
                    <h5 class="mt-0 mb-1">John Smith</h5>
                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                    <p class="last"> Lorem ipsum dolor sit amet, consectetur...</p>
                  </div>
                </li>
              </ul>
            </li>-->
      <li class="nav-item" ngbDropdown>
        <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
          <b class="caret"></b>
          <img class="perfil img-circle" src="assets/images/robot.gif" alt="">
        </a>
        <div class="dropdown-menu-right" ngbDropdownMenu>
          <a class="dropdown-item" href="javascript:void(0)">
            <i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}
          </a>
          <a class="dropdown-item" href="javascript:void(0)">
            <i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}
          </a>
          <a class="dropdown-item" href="javascript:void(0)">
            <i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}
          </a>
          <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()">
            <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>

